*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family: "Bungee", sans-serif;
}



.title-box{
    /* background: linear-gradient(135deg, #dba6a6, #ffc1c1); */
    text-align: center;
}

.title-box h1{
padding: 20px;
color: rgb(0, 0, 0);
}

.high-score{
    padding: 12px;
}

.mini-buttons {
    display:flex;
    justify-content: space-around;
    padding: 20px; 
}

.top-buttons{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}

 .top-buttons button{
    padding: 8px;
 }


img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.multiple-choice{
    border-radius: 4px;
    padding: 12px;

}